<h1 class="display-3 text-center">Current Polls For Your Class</h1>
<button id="download-CSV-btn" style="margin: 20px auto 25px auto; display: block; cursor: pointer;" type="button" class="btn btn-outline-info btn-lg">Download as CSV <i class="fa fa-download" aria-hidden="true"></i></button>
<div id="polls" class="container">
	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">Student</th>
	      <th scope="col">1st</th>
	      <th scope="col">2nd</th>
	      <th scope="col">3rd</th>
	    </tr>
	  </thead>
	  <tbody id="poll-list">
	  </tbody>
	</table>
</div>