<h1 class="display-3 text-center">Basically Free!</h1>

<div style="margin: 50px auto;" class="container">
  <div class="card-group">
    <div class="card text-center">
      <img style="height: 325px; width: 100%;" class="card-img-top" src="https://i.pinimg.com/736x/5a/e4/9a/5ae49a02fc6d1281dd9267d679e6ba01--first-response-cranky-pants.jpg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Freemium</h4>
        <p class="card-text"><small class="text-muted">Cost: "A" Grade</small></p>        
        <p class="card-text">Reap the free benefits of our app with a small fee of an "A" grade!</p>
        <p class="card-text"><strong>Includes: </strong></p>
        <ul style="text-align: left;">
          <li>Free</li>
          <li>Upload any CSV</li>
          <li>Vote for any site</li>
          <li>Free</li>
          <li>View/Download Reports</li>
          <li>Sleek Bootstrap design</li>
          <li>Did we say free?</li>
        </ul>
      </div>
    </div>
    <div class="card text-center">
      <img style="height: 325px; width: 100%;" class="card-img-top" src="https://media.licdn.com/mpr/mpr/AAEAAQAAAAAAAAIkAAAAJDg1NjEwMjYxLTI2MDgtNGI4Yy05ZWI2LWY3NGZjMzBhYWI5YQ.jpg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Premium</h4>
        <p class="card-text"><small class="text-muted">Cost: "A+" Grade</small></p>
        <p class="card-text">Don't settle for average... You deserve a peer review app that suits your premium lifestyle! </p>
        <p class="card-text"><strong>Includes: </strong></p>
        <ul style="text-align: left;">
          <li>Less bugs</li>
          <li>More features!</li>
          <li>Premium stuff!</li>
          <li>Unlimited Downloads</li>
          <li>Unlimited Uploads</li>
          <li>A huge thank you!</li>
        </ul>
      </div>
    </div>
    <div class="card text-center">
      <img style="height: 325px; width: 100%;" class="card-img-top" src="https://i.pinimg.com/736x/20/ba/b2/20bab22c9327cfe55cf0d92b3b5c28e0.jpg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Ultra Premium</h4>
        <p class="card-text"><small class="text-muted">Cost: "A+++" Grade</small></p>
        <p class="card-text">You know high quality when you see it. You don't settle for anything less and you shouldn't. </p>

        <p class="card-text"><strong>Includes: </strong></p>
        <ul style="text-align: left;">
          <li>Much less bugs!</li>
          <li>Much more features!!! </li>
          <li><em>Terrible</em> Customer service!</li>
          <li>A HUGE thank you</li>
        </ul>
      </div>
    </div>
  </div>
</div>


