<div class="container login">



  <form class="form-signin" method="POST" action="/student-login">
    <h2 class="display-4 text-center">Student Login</h2>

    <% if err %>
      <div class="alert alert-danger text-center" role="alert">
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
        <%= err %>
      </div>
    <% end %>

    <label for="inputUsername" class="sr-only">Username</label>
    <input type="text" id="inputUsername" class="form-control" placeholder="Username" name="username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>

</div> <!-- /container -->